{% if show_datepicker %}
<nav class="navbar navbar-default" role="navigation">
    <form class="form-inline navbar-form navbar-left" role="form"
          method="get" action="">
        <div class="form-group input-daterange"
             data-provide="datepicker"
             data-date-language="ru"
             data-date-format="dd.mm.yyyy">
            <div class="form-group">
                <label class="control-label" for="inputStartDate">Период
                    с:</label>
                <input type="text"
                       class="form-control input-sm"
                       id="inputStartDate"
                       placeholder="Дата начала"
                       name="date_start"
                       value="{{ date_start|date:"SHORT_DATE_FORMAT" }}">
            </div>
            <div class="form-group">
                <label class="control-label" for="inputEndDate">по:</label>
                <input type="text" class="form-control input-sm"
                       id="inputEndDate" placeholder="Дата окончания"
                       name="date_end"
                       value="{{ date_end|date:"SHORT_DATE_FORMAT" }}">
            </div>
            <div class="form-group">
                <label class="control-label" for="submit">&nbsp;</label>
                <button type="submit" id="submit"
                        class="btn btn-sm btn-primary form-control input-sm">
                    Применить
                </button>
            </div>
        </div>
    </form>
</nav>
{% endif %}